<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style8.css">
    <title>Acerca</title>
</head>
<body>

    <header>
        <div class="container_menu">

            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="{{ url_for('auth.register') }}">Inicio</a></li>
                        <li><a href="{{ url_for('auth.Bebidas') }}">Bebidas</a>
                            <ul>
                                <li><a href="{{ url_for('auth.BebidasCaliente') }}">Bebidas Calientes</a></li>
                                <li><a href="{{ url_for('auth.BebidasFrias') }}">Bebidas Frias</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Carta</a>
                            <ul>
                                <li><a href="{{ url_for('auth.Postres') }}">Postres</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ url_for('auth.promociones') }}">Promociones</a></li>
                        <li><a href="{{ url_for('auth.About') }}">Sobre nuestro cafe</a></li>
                        <li><a href="{{ url_for('auth.Contactos') }}">Contactanos</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </header>

    <section class="main">
        <section class="articles">
            <article>
                <h1>Acerca de Coffee Spot</h1>
                <p>Coffee Spot es una tienda de bebidas a base de café ubicada en San Rafael Cedros, dentro del negocio de comida "Comedor La Estancia". Gracias a su ubicación, Coffee Spot se enfoca en ofrecerles distintas bebidas gourmet a todas aquellas personas que viajan en familia, por trabajo o como turistas dentro del país, de Oriente a Poniente o viceversa. La tradición de desayunar en San Rafael Cedros, ahora se puede acompañar de rico café como es el de Coffee Spot.</p>
            </article>
            <article>
                <h1>Acerca de nuestro cafe</h1>
                <p>El café el cual es la base de todas nuestras bebidas es proveniente de la Finca San Rafael ubicada en Alegría, Usulután; en donde cultivan el café a una altura de 1200 metros. El café usado es el Borbón, el cual es un café con notas dulces, acidez baja, perfecto para la preparación de bebidas fuertes como una taza de café oscuro, al igual que otras bebidas con toques dulces como capuccino, latte, mocha y algunas bebidas frías.</p>
            </article>


        </section>

        <aside>
            <h2>Usuario Ig: <a href="https://instagram.com/coffeespotsv?utm_medium=copy_link">coffeespotsv</a> </h2>
            <video width="320px" height="520px" controls>
                <source src="/static/videos/Cafe.mp4" type="video/mp4">

            </video>
        </aside>

    </section>
</body>
</html>
