<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finanzas</title>
    <link rel="stylesheet" href="static/style/style10.css">
</head>
<body>

    <!--- navbar-->
    <div class="hero">
        
       
        <div class="services">
            <h2 class="logo"> Bienvenido a tus finanzas</h2>
            
            

            <div class=" box">
                <div class="card">
                   
                    <h4>Ventas totales</h4>

                    <h5 class="formulas"></h5>
                    <div class="pra">
                        
                        
                            <a class="button" href="#">Go</a>
                        </p>
                    </div>
                </div>
                <div class="card">
            
                    <h4>Gastos totales</h4>
                    <div class="pra">
                        
                        <p style="text-align: center;">
                            <a class="button" href="#">Go</a>
                        </p>
                    </div>
                </div>
                <div class="card">
                    
                    <h4>Ganancias</h4>
                    <div class="pra">
                        
                        <p style="text-align: center;">
                            <a class="button" href="#">Go</a>
                        </p>
                    </div>
                </div>
                <div class="card">
                   
                    <h4>Desempeño</h4>
                    <div class="pra">
                        
                        <p style="text-align: center;">
                            <a class="button" href="#">Go</a>
                        </p>
                    </div>

                </div>
            </div>

        </div>

    
    </div>






    
</body>
</html>