@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@1&family=Cormorant+Infant:ital,wght@1,300&family=Forum&family=IBM+Plex+Sans+Thai+Looped:wght@200;300;500&family=Libre+Baskerville:ital,wght@0,700;1,400&family=Montserrat:wght@400;700;800&family=Ubuntu+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 22px;
    background-color: black;
    color: bisque;
}

h1{
    color: beige;
    text-align: center;
}