{% extends 'layout.html' %}
{% block title %}home{% endblock %}
{% block contents %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style.css">
    <title>LogIn_Inventario</title>
</head><script src="https://kit.fontawesome.com/42a3b7e233.js" crossorigin="anonymous"></script>

<body>
    <div>
        <form class="formulario">

            <h1>Coffee Spot</h1>
            <p>Bienvenido a la página de Coffee Spot.</p>
            <p>Por favor, elige una opción:</p>
            <div class="contenedor">
            
            <div class="input-contenedor">
        
                <a href="{{ url_for('auth.login') }}" class="boton">Iniciar sesión</a>
            </div>
            <br>
            <div class="input-contenedor">
    
                <a href="{{ url_for('auth.register') }}" class="boton">Ir a la pagina web</a>
            </div>
            </div>
        </form>

    </div>

    <style>
        body{
            background: linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75)),
            url("/static/imagenes/coffeespot.jpg") no-repeat center
            center fixed;
            background-size: cover;
        }
    </style>

</body>
<br>
{% endblock %}

