{% extends 'layout.html' %}
{% block title %}register page{% endblock %}
{% block contents %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style2.css">
    <title>Home</title>
</head>
<body>

    <header>
        <div class="container_menu">

            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="{{ url_for('auth.register') }}">Inicio</a></li>
                        <li><a href="{{ url_for('auth.Bebidas') }}">Bebidas</a>
                            <ul>
                                <li><a href="{{ url_for('auth.BebidasCaliente') }}">Bebidas Calientes</a></li>
                                <li><a href="{{ url_for('auth.BebidasFrias') }}">Bebidas Frias</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Carta</a>
                            <ul>
                                <li><a href="{{ url_for('auth.Postres') }}">Postres</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ url_for('auth.promociones') }}">Promociones</a></li>
                        <li><a href="{{ url_for('auth.About') }}">Sobre nuestro cafe</a></li>
                        <li><a href="{{ url_for('auth.Contactos') }}">Contactanos</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </header>

    <section>   <h1>Coffee Spot</h1>

        <pre>El Espacio Perfecto 
                        Para Disfrutar Ricas Bebidas
                                                        A base de Café.
                                                    
            
         <i>"El café es un bálsamo 
                        para el corazón y el espíritu"
                                            Giuseppe Verdi.</i>      
                                          
        </pre></section>
    
        <style>
            section{
                background-image: url('static/imagenes/home.jpg');
                background-size: cover;
                background-position: center center;
                height: calc(100vh - 50px);
            }    
        </style>


</body>
{% endblock %}