<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style10.css">
    <title>Inventario</title>
</head><script src="https://kit.fontawesome.com/42a3b7e233.js" crossorigin="anonymous"></script>

<body>

     <h1>
         <a href="{{ url_for('Inventario.create') }}">create</a>
         <br>
         <a href="{{ url_for('Inventario.inventario') }}">update</a>
    <h1>
<body>